.wrapper {
    width:100%;
    background-color:#fff;
}
.pager {
    margin:250px auto;
   width:750px;

}
.pager li {
    display:inline-block;
    font-family:'Open sans';
    font-size:14px;
}
.navig {
    padding:16px 5px;
    margin:0 5px;
    color:#c03cd0;
    text-decoration: none;
}
.navig:hover {
    color:#79299d;
    text-decoration: none;
}
.pager span {
    margin:5px;
}
.pag {
    border:1px solid #dedede;
    border-radius: 6px;
    padding:6px 10px;
    margin:0 2px;
    text-decoration: none;
    color:#a23cd0;
}
.pag:hover {
    text-decoration: none;
    color:#fff;
    background-color:#a23cd0;
}