h1 {
    text-align: right;
    color:#ff9933;
}

p em {
    background-color:#006600;
    color:#FFFFFF;
    font-weight:bold;
}
p::first-letter {
    color:#FF0000;
    font-size:150%;
    font-weight:bold;
}

#allotment h2 {
    color:#ff9933;
}
#warehouse h2 {
    color:#000099
}
.vegetables-list {
    color:#FF0000;
}
#allotment .fruits-list {
    color:#D6D6C2
}
#warehouse .fruits-list {
    color:#006600
}
table {
    text-align:center;
    font-weight:bold;
}
.students-table thead {
    font-weight:bold;
}
.students-table tbody {
    background-color: #006600;
    color:#ffffff
}
.students-table tbody tr td:first-child {
    background-color:#ffffff;
    color:#ff9933;
    text-align: left;
}